<div class="form-group">
	<input class="pull-right" type="radio" name="chosenAttributes" ng-model="$parent.inSelected" value="{{$index}}"
						style="float:right !important; clear:both; margin-top:3px; margin-left: 4px">
	<label for={{feature.key}} class="pull-right">{{feature.name}}</label>
	<span class="pull-left">{{feature.value || 50}}</span>
	<input type="range" min="0" max="100" step="10" value="50" id="{{feature.key}}" list="volsettings" style="width:50%; float:left"
		ng-model="feature.value" dir="rtl">
	<datalist id="volsettings">
		<option>10</option>
		<option>20</option>
		<option>30</option>
		<option>40</option>
		<option>50</option>
		<option>60</option>
		<option>70</option>
		<option>80</option>
		<option>90</option>
		<option>100</option>
	</datalist>
</div>
