<div class="row">
	<div class="col-sm-3 col-md-3 col-md-push-7">
		<h4>בחר מתוך רשימת הקריטריונים</h4>
		<div ng-repeat="feature in unChosenFeatures track by feature.key" ng-animate="'feature'">
			<input type="checkbox" id="feature.key" value="feature.name" name="selectedFeatures[]" ng-click="checkFeature(feature)">
    			{{feature.name}}
		</div>
		{{selectedFeatures}}
	</div>
	<div class="col-sm-1 col-md-1 col-md-push-3">
		<br><br>
		<button ng-click="choose(outSelected)" class="btn btn-default left-button"></button>
		<br><br>
		<button ng-click="unChoose(inSelected)" class="btn btn-default right-button"></button>
	</div>
	<div class="col-sm-5 col-md-5 col-md-pull-3 row">
		<!--<div class="col-sm-2">
			<br><br>
    		<button ng-click="featureUp(inSelected)" class="btn btn-default up-button"></button>
    		<br>
    		<button ng-click="featureDown(inSelected)" class="btn btn-default down-button"></button>
		</div>-->
		<div class="col-sm-12">
			<h4>תעדף מתוך הרשימה</h4>
			<span ng-repeat="feature in chosenFeatures track by feature.key">
				

			    <chosen-feature ng-model="feature"></chosen-feature>
			</span>
		</div>
	</div>
</div>