<div class="row">
	<div class="col-xs-2 pull-right">
	</div>
	<div class="col-xs-3 pull-right">
		<h3>מה ברצונך לרכוש?</h3>
	</div>
</div>
<div class="row product-type-area">
	<div class="col-xs-4" ng-repeat="ptype in products" ng-click="ptype.isClickable && chooseProductType(ptype)">
		<img ng-src="../img/{{ptype.img}}" ng-class="{clickable:ptype.isClickable, notClickable:!ptype.isClickable}">
		<div class="product-title" ng-class="{clickable:ptype.isClickable, notClickable:!ptype.isClickable}">
			<div>{{ptype.name}}</div>
			<div>{{ptype.numberOfProducts}}</div>
		</div>
		<div class="chooseByGrade" ng-show="ptype.typeChosen" ng-click="filterProducts()">חיפוש ע"פ שם וציון</div>
		<div class="chooseByFeatures" ng-show="ptype.typeChosen" ng-click="chooseByCriteria()">חיפוש ע"פ קריטריונים</div>
	</div>
</div>
<br/>
