<div id="right">
	<div>
		<h3 class="text-center">{{products[selectedItem].productName}}</h3>
		<br>
		<img ng-src="{{products[selectedItem].Img}}" class="text-center">
	</div>
	<div>
		<span class="pull-right">
			<button class="right-button" ng-click="productRight()"></button>
		</span>
		<div class="middle text-center">
			<h4>מוצר {{selectedItem + 1}} מתוך {{products.length}}</h4>
			<button ng-click="show(selectedItem)" class="btn btn-default">ראה תגובות</button>
			<button ng-click="showGradesGraph(products[selectedItem].productId)" class="btn btn-default">ראה גרף</button>
		</div>
		<span class="pull-left">
			<button class="left-button" ng-click="productLeft()"></button>
		</span>
	</div>
</div>
<div id="left">
	<div class="content-div">
		<h4>ציון ע"פ הקריטריונים: {{products[selectedItem].grade.toPrecision(2) * 100}}</h4>
		<div class="grade col-xs-6 col-md-6" ng-repeat="feature in features">
			<p class="title" ng-class="{bolder: feature.bolder}">
				{{feature.name}}
			</p>
			<div class="progress">
				<div class="progress-bar"
				style="width:{{feature.grade}}%;opacity:{{feature.opacity}}"
					ng-class="{progressRed:feature.grade <= 60,
						progressYellow:(feature.grade > 60 &&
							feature.grade <= 80),
						progressGreen: feature.grade > 80}">
				</div>
				<div class="progressGrade" ng-show="feature">
					{{feature.caption}}
				</div>
			</div>
		</div>
	</div>
	<div id="left-lower" class="content-div podium-div">
		<h4>3 הגדולים ע"פ הקריטריונים</h4>
		<br>
			<span class="first-place"><img ng-click="displayProduct(0)" class="clickable podiumImg" ng-src="{{products[0].Img}}"><span>{{products[0].productName}}</span></span>
			<span class="second-place"><img ng-click="displayProduct(1)" class="clickable podiumImg" ng-src="{{products[1].Img}}"><span>{{products[1].productName}}</span></span>
			<span class="third-place"><img ng-click="displayProduct(2)" class="clickable podiumImg" ng-src="{{products[2].Img}}"><span>{{products[2].productName}}</span></span>
			<img src="../img/podium.png">
	</div>
</div>

 <!-- The actual modal template, just a bit o bootstrap -->
 <script type="text/ng-template" id="modal.html">
     <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">תגובות עבור {{shtuty}}</h4>
          </div>
          <div class="modal-body" style="height: 300px;overflow-y:scroll">
              <div ng-repeat="comment in comments">
                <p>{{comment.sentence}}</p>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="close('Yes')" class="btn btn-default" data-dismiss="modal">סגור</button>
          </div>
        </div>
      </div>
    </div>
 </script>