<div id="right">
	<div>
		<h3 class="text-center">{{products[selectedItem].productName}}</h3>
		<br>
		<img src="{{products[selectedItem].Img}}" class="text-center">
	</div>
	<div>
		<span class="pull-right">
			<button class="right-button" ng-click="productRight()"></button>
		</span>
		<span class="pull-left">
			<button class="left-button" ng-click="productLeft()"></button>
		</span>
	</div>
</div>
<div id="left">
	<div class="content-div">
		<h4>ציון ע"פ הקריטריונים: {{products[selectedItem].grade.toPrecision(2) * 100}}</h4>
		<!--<div ng-repeat="feature in products[selectedItem].features">קריטריון: {{feature.featureId}} ציון: {{feature.grade}}</div>-->


		<div class="grade col-md-6 col-sm-6" ng-repeat="feature in products[selectedItem].features">

				<p class="title">{{features[feature.featureId]}}</p>
				<div class="progress">
					<div class="progress-bar" style="width:{{(feature.grade.toPrecision()*100).toFixed()}}%;"
						ng-class="{progressRed:(feature.grade.toPrecision()*100).toFixed() <= 60,
							progressYellow:((feature.grade.toPrecision()*100).toFixed() > 60 &&
								(feature.grade.toPrecision()*100).toFixed() <= 80),
							progressGreen: (feature.grade.toPrecision()*100).toFixed() > 80}">

					</div>
					<div class="progressGrade">{{(feature.grade.toPrecision()*100).toFixed()}}</div>
				</div>
		</div>
	</div>
	<div id="left-lower" class="content-div podium-div">
		<h4>3 הגדולים ע"פ הקריטריונים</h4>
		<br>
			<span class="first-place"><a ng-click="displayProduct(0)" class="clickable">{{products[0].productName}}</a></span>
			<span class="second-place"><a ng-click="displayProduct(1)" class="clickable">{{products[1].productName}}</a></span>
			<span class="third-place"><a ng-click="displayProduct(2)" class="clickable">{{products[2].productName}}</a></span>
			<img src="../img/podium.png">
	</div>
</div>
