@font-face {
    font-family: "Alef";
    src: url("../fonts/Alef-Regular.ttf");
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: "Roboto", "Tahoma";
}
h3, h4{
	color: #02188B;
	font-family: "Alef";
	font-weight: bold;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
	background:#607D8B;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	font-family: 'Roboto', 'Syncopate', Tahoma, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
}

#header a {
	color: #FFFFFF;
	text-decoration: none;
}

#header a:hover {
	color: #DDDDDD;
	text-decoration: none;
}

#content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background: #90A4AE;
	color: #EEEEEE;
}

.products-models>div {
	padding:0 2% 0 2%;
}

.product-panel {
	height:200px;
}

.product-image{
	height: 150px;
	margin-top: -15px;
}

.product-panel:active {
	border-color: #66afe9 !important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
}

.product-panel:hover {
	border-color: #EA2460;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,36,84,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,36,84,.6);
}

.product-panel:hover .product-panel-header {
	
}

.product-panel-header {
	border-bottom:1px solid #DDD; 
	background:rgb(250,250,250);
	overflow: hidden; 
	width: 100%;
}

.up-button:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent rgba(64, 64, 65, 0.56) transparent;
}

.down-button:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: rgba(64, 64, 65, 0.56) transparent transparent transparent;
}

.left-button:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent rgba(64, 64, 65, 0.56) transparent transparent;
}

.right-button:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent rgba(64, 64, 65, 0.56);
}

.first-place-bottom {
	height: 100px;
}

.podium-div {
	position: absolute;
	bottom: 2%;
	left: 0;
	width: 100%;
	padding: 2%;
}

.podium-top {

}
.podium-bottom{
	background-color:blue;
	width:40px;
	vertical-align:top;
	width: 100px;
}

.podium-rank {
	color: yellow;
	margin-top: 1%;
}

.content-div{
	padding: 2%;
}


span.angular-highlight{
	background-color: rgba(255, 255, 0, 0.5);;
}
span.angular-highlight-positive{
	background-color: rgba(76, 254, 76, 0.5);
}

span.angular-highlight-negative{
	background-color: rgba(255, 121, 121, 0.5);
}

span.angular-highlight-neutral{
	background-color: #DDD;
}

textarea.form-control {
	width: 500px !important;
	height: 250px;
}

.sentence {
	border-left: 1px solid #DDD;
}

.odd-row {
	background-color: #EEE;
}

.col-xs-offset-half {
  margin-left: 4%;
}

.result-row {
	line-height: 2em;
	border-radius: 5px;
}

.loader {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.loader > img {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 3%;
}