@font-face {
    font-family: "Alef";
    src: url("../fonts/Alef-Regular.ttf");
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	/*overflow-y: hidden;*/
	overflow-x: hidden;
	font-family: "Roboto", "Tahoma";
}
h3, h4{
	color: #02188B;
	font-family: "Alef";
	font-weight: bold;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
	background:#607D8B;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
	font-family: 'Roboto', 'Syncopate', Tahoma, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
}

#header a {
	color: #FFFFFF;
	text-decoration: none;
}

#header a:hover {
	color: #DDDDDD;
	text-decoration: none;
}

#content {
	padding:10px;
	/*padding-bottom:80px;   /* Height of the footer element */*/
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background: #90A4AE;
	color: #EEEEEE;
}

.products-models>div {
	padding:0 2% 0 2%;
}

.product-panel {
	/*height:200px;*/
}

.product-image{
	height: 150px;
	margin-top: -15px;
}

.product-panel:active {
	border-color: #66afe9 !important;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
}

.product-panel:hover {
	border-color: rgb(0, 255, 0) /*#EA2460*/;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,36,84,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,36,84,.6);
}

.product-panel:hover .product-panel-header {

}

.product-panel-header {
	border-bottom:1px solid #DDD;
	background:rgb(250,250,250);
	overflow: hidden;
	width: 100%;
}

.product-panel-header span:first-child {
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.up-button:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 0 9px 15px 9px;
    border-color: transparent transparent rgba(64, 64, 65, 0.56) transparent;
}

.down-button:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 15px 9px 0 9px;
    border-color: rgba(64, 64, 65, 0.56) transparent transparent transparent;
}

.left-button:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 9px 15px 9px 0;
    border-color: transparent rgba(64, 64, 65, 0.56) transparent transparent;
}

.right-button:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 9px 0 9px 15px;
    border-color: transparent transparent transparent rgba(64, 64, 65, 0.56);
}

.first-place-bottom {
	height: 100px;
}

.podium-div {
	position: absolute;
	bottom: 23%;
	left: 0;
	width: 100%;
	padding: 2%;
}

.podium-top {

}
.podium-bottom{
	background-color:blue;
	width:40px;
	vertical-align:top;
	width: 100px;
}

.podium-rank {
	color: yellow;
	margin-top: 1%;
}

.content-div{
	padding: 2%;
}


span.angular-highlight{
	background-color: rgba(255, 255, 0, 0.5);;
}
span.angular-highlight-positive{
	background-color: rgba(76, 254, 76, 0.5);
}

span.angular-highlight-negative{
	background-color: rgba(255, 121, 121, 0.5);
}

span.angular-highlight-neutral{
	background-color: #DDD;
}

textarea.form-control {
	width: 500px !important;
	height: 250px;
}

.sentence {
	border-left: 1px solid #DDD;
}

.odd-row {
	background-color: #EEE;
}

.col-xs-offset-half {
  margin-left: 4%;
}

.result-row {
	line-height: 2em;
	border-radius: 5px;
}

.loader {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.loader > img {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 3%;
}

.right-button, .left-button {
	border: 0;
	border-radius: 5px;
	width: 50px;
	height: 30px;
}

.up-button, .down-button {
	border: 0;
	border-radius: 5px;
	width: 50px;
	height: 30px;
}

/* .slideTwo */
.slideTwo {
  width: 80px;
  height: 30px;
  background: #DDD;
  margin: 5px 5px;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  clear: both;
  float: right;
}
.slideTwo:after {
  content: ' ';
  position: absolute;
  top: 14px;
  left: 14px;
  height: 2px;
  width: 52px;
  background: #111;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo label {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;
  background: #fcfff4;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.slideTwo label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  background: #888;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
}
.slideTwo input[type=checkbox] {
  visibility: hidden;
}
.slideTwo input[type=checkbox]:checked + label {
  left: 54px;
}
.slideTwo input[type=checkbox]:checked + label:after {
  background: #27ae60;
  /*activeColor*/
}

/* end .slideTwo */

.ondisplay section:after {
  /*         visibility: hidden; */
  content: attr(title);
  position: relative;
  width: 100%;
  /*left: 0;*/
  bottom: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px #000;
}

.grade{
  background: #fff;
  float: right;

}
.title, .grade-percentage p{
  text-align: center;
}
.title{
  /*padding-top: 22px;*/
  color: #404040;
  font-size: 12px;
}

.product-title {
  position: relative;
  top: -45px;
  background: rgba(0, 0, 0, 0.5);
  height: 45px;
  color: white;
  text-indent: 1%;
}

.product-title div:nth-child(1){
  font-weight: bold;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}

.grade .title{
  float:right;
  clear:both;
}

.progress {
  float: left;
  width: 100px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progressGrade {
  color: white;
  position: absolute;
  text-align: center;
  width: 100px;
  font-size: 1em;
}

.progressRed {
  background-color: #f63a0f;
}

.progressYellow {
  background-color: #f2b01e;
}

.progressGreen {
  background-color: #86e01e;
}

.clickable {
  cursor: pointer;
}

.notClickable {
  cursor: not-allowed;
  opacity: 0.4;
}

.bs-footer-links li:first-child {
    padding-left: 0;
}

.bs-footer-links li {
    display: inline;
    padding: 0 2px;
}

.bs-footer-links a {
    color: #E8E8E8;
}

.bs-footer-links {
    padding-left: 0;
    list-style-type: disc;
    margin-bottom: 0;
}

.bs-footer {
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
